@using FoodDeliveryWebApp.Areas.Admin.ViewModels;
@using FoodDeliveryWebApp.Models.Enums;
@*@model FoodDeliveryWebApp.Models.Seller*@
@model SellerEditViewModel

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit Seller</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="StoreName"></label>
        <input asp-for="StoreName" class="form-control" />
        <span asp-validation-for="StoreName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logo"></label>
        <input asp-for="Logo" type="file" class="form-control-file" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control">
            <option value="0">Under Review</option>
            <option value="1">Accepted</option>
            <option value="2">Rejected</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <button asp-aria="Admin" asp-controller="Seller" asp-action="Index" type="submit" class="btn btn-primary">Save</button>
</form>