<li class="nav-item">
    <a class="nav-link text-white" asp-area="Seller" asp-controller="Products" asp-action="Index">Products</a>
</li>

<li class="nav-item">
    <a class="nav-link text-white" asp-area="Seller" asp-controller="Orders" asp-action="Index">Orders</a>
</li>

<li class="nav-item">
    <a class="nav-link text-white" asp-area="Seller" asp-controller="Review" asp-action="Index">Reviews</a>
</li>

<li class="nav-item">
    <a class="nav-link text-white" asp-area="Seller" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
</li>