@model FoodDeliveryWebApp.Models.Product

@if (Model.HasSale)
{
    <td>
        <span style="text-decoration:line-through; color:darkred">
            @Html.DisplayFor(modelItem => Model.Price)
        </span>
        <span style="color:forestgreen;">
            @Html.DisplayFor(modelItem => Model.SalePrice)
        </span>
    </td>
}
else
{
    <td>
        @Html.DisplayFor(modelItem => Model.Price)
    </td>
}