@model FoodDeliveryWebApp.Models.Product
<td>
@if (Model.HasSale)
{
    <span style="text-decoration:line-through; color:darkred">
        @string.Format("{0:C}", Model.Price)
    </span>
    <span style="color:forestgreen;">
        @string.Format("{0:C}", Model.SalePrice)
    </span>
}
else
{
    @string.Format("{0:C}", Model.Price)
}
</td>