@using FoodDeliveryWebApp.Contracts;
@using Microsoft.AspNetCore.Identity
@using FoodDeliveryWebApp.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ISellerRepo _seller

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var userTask = UserManager.GetUserAsync(User);
    var user = userTask.GetAwaiter().GetResult();
    var firstName = user.FirstName;
    var lasttName = user.LastName;
    if (User.IsInRole("Seller"))
    {
        var logo = _seller.GetById(user.Id).Logo;
        var imageSrc = $"data:image/png;base64,{Convert.ToBase64String(logo)}";
        <img id="sellerImg" src="@imageSrc" />
    }
    <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @firstName @lasttName</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index")">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-route-IsCustomer="True" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>

    <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-route-IsCustomer="False" asp-area="Identity" asp-page="/Account/Register">Sell with us</a>
    </li>

    <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
